body{
    background: #A1C1BE;

}

h1{
    margin-top: 5px;
    font-size: 30px;
    margin-left: 70px;
    color: #59554e;
}

#login{
    background: rgba(89, 86, 79, 50%);
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin-top: 60px;
    
}

#dados{
    margin-left: 37%;
    height: 80px;
    width: 50px;
}

label{
    font-size: 30px;
    font-family: Andale Mono, monospace;   
    font-weight: 900;
    font-style: oblique;
    color: #59554e;
}

input[type="text"],
input[type="password"]{
  font-size: 16px;                       
  background-color: #E2E3D9;    
  border: 1px solid #ccc;      
  padding: 8px;               
  border-radius: 5px;           
  width: 250px;
  font-family: Andale Mono, monospace;   
  font-weight: 900;
  font-style: oblique;
 
}

input[type="submit"]{
     border-radius: 5px;           
     width: 200px;
     height: 50px;
     font-size: 18px;    
     font-family: Andale Mono, monospace;   
     font-weight: 900;
     font-style: oblique;
     background-color: #E2E3D9;    
     border-color: white;
     color: #59554e;
}

.botao-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(89, 86, 79, 50%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
