<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leitura na rede/Cadastro Responsável</title>
    <link rel="stylesheet" type="text/css" href="CadResponsavel.css">
</head>
<body>
    <center>
    <h1 id="titulo">Cadastro Responsável</h1>
    </center>
    <div name="formulario">
        <form id="form">
            <center>
            <label id="text_usuario">Usuário:</label>
            <input type="text"><br><br>
            <label >Escola:</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text"><br><br>
            <label>Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text"><br><br>
            <label >Senha:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" placeholder="Insira a senha"><br><br>
            <label id="text_senha2">Senha:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" placeholder="Confirme a senha"><br><br>
            <input type="submit" value="Cadastrar" id="cadastro">
            </center>
        </form>
    </div>
</body>
</html>